#abas{
    border: 1px solid green;
    border stile: hidden;
}

#abas ul{
    display: inline;
    list-style: none;
}

#abas ul li{
    display: inline-block;
    border: solid 1px black;
}
#abas ul li{
    float: left;
    display: inline-block;
    border: solid 1px black;
    padding: 5px 15px;
    border-radius: 10px 10px ;
}
.conteudo{
    border: 1px solid red;
}